<section class="container">


<div class="row">
    <div class="col-md-6 form_border">

      <h2>New House</h2>

      <%= render 'form', house: @house %>

      <%= link_to 'Back', houses_path %>

  </div>
</div>
</section>